[{{ php_app_fpm_pool_name }}]

listen = {{ php_app_fpm_listen }}
listen.allowed_clients = 127.0.0.1
listen.backlog = -1

user = {{ php_app_user }}
group = {{ php_app_group }}

; request_slowlog_timeout = 5s
; slowlog = /var/log/php-fpm/slowlog-blog.log

pm = dynamic
pm.max_children = 4
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 200
pm.status_path = /status

request_terminate_timeout = 120s
rlimit_files = 131072
rlimit_core = unlimited
catch_workers_output = yes

{% for name, value in php_app_envs.iteritems() %}
env[{{ name }}]={{ value }}
{% endfor %}
