# -------------------------------------------------------------------
# Global options
# -------------------------------------------------------------------

{
    grace_period 15s
}

# -------------------------------------------------------------------
# Proxy services
# -------------------------------------------------------------------

vakhrushev.me {
    tls anwinged@ya.ru

    reverse_proxy {
        to 127.0.0.1:{{ homepage_port }}
    }
}

# NetData proxy
status.vakhrushev.me, :29999 {
    tls anwinged@ya.ru

    reverse_proxy {
        to 127.0.0.1:{{ netdata_port }}
    }

    basicauth / {
       {{ netdata.login }} {{ netdata.password_hash }}
    }
}

wiki.vakhrushev.me {
    tls anwinged@ya.ru

    reverse_proxy {
        to 127.0.0.1:{{ wiki_port }}
    }
}

nomie.vakhrushev.me {
    tls anwinged@ya.ru

    reverse_proxy {
        to 127.0.0.1:{{ nomie_port }}
    }
}

nomie-db.vakhrushev.me {
    tls anwinged@ya.ru

    reverse_proxy {
        to 127.0.0.1:{{ nomie_db_port }}
    }
}

git.vakhrushev.me {
    tls anwinged@ya.ru

    reverse_proxy {
        to 127.0.0.1:{{ gitea_port }}
    }
}
