# NetData proxy
status.vakhrushev.me, :29999 {
    proxy / 127.0.0.1:19999 {
        transparent
    }

    tls anwinged@ya.ru
    basicauth / anton show-me-the-status
}

# Homepage
homepage.vakhrushev.me, vakhrushev.me {
    root /var/www/homepage/current

    tls anwinged@ya.ru
    gzip

    errors {
        404 404/index.html
    }
}

# Notes app
notes.vakhrushev.me {
    proxy / 127.0.0.1:41080 {
        transparent
    }

    tls anwinged@ya.ru
    basicauth / anton show-me-the-notes
}
