# -------------------------------------------------------------------
# Proxy services
# -------------------------------------------------------------------

vakhrushev.me {
    tls anwinged@ya.ru
    respond "Hello!"
}

# NetData proxy
status.vakhrushev.me, :29999 {
    reverse_proxy {
        to 127.0.0.1:19999
    }

    tls anwinged@ya.ru

    # basicauth / {
    #    {{ netdata.login }} {{ netdata.password | password_hash('blowfish') | b64encode }}
    # }
}

