server {
    server_name www.{{ static_site_domain }};
    return 301 $scheme://{{ static_site_domain }}$request_uri;
}

server {
    listen 80;
    server_name {{ static_site_domain }};

    location / {
        root {{ static_site_web_root }};
        index index.html;
        try_files $uri $uri/ =404;
    }
}
